engine-strict = true

# License fortawesome
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=A763F55A-BA67-4E94-9F4D-AF852F1E4ECB

yarn add @fortawesome/fontawesome-svg-core @fortawesome/pro-duotone-svg-icons @fortawesome/pro-light-svg-icons @fortawesome/pro-regular-svg-icons @fortawesome/pro-solid-svg-icons @fortawesome/pro-thin-svg-icons @fortawesome/react-fontawesome
